.react-daterange-picker__inputGroup {
  flex-grow: 1;
  text-align: center;
}

.react-daterange-picker__wrapper {
  height: 40px;
  margin-inline: 15px;
  padding-inline: 15px;
  /* border: 1px solid #3a3939; */
  border: 0;
  border-radius: 25px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

/* .react-daterange-picker__wrapper{
justify-content: space-between;
} */
