/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

div.MuiTablePagination-root > div.MuiToolbar-root > p {
  margin-bottom: 0;
  padding: 0;
}

.tss-qbo1l6-MUIDataTableToolbar-actions {
  display: flex;
  justify-content: flex-end;
  justify-items: center;
}

.tss-1fz5efq-MUIDataTableToolbar-left {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  width: -webkit-fill-available;
}
